@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,600|Miriam+Libre:400");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .verify-btn {
    @apply w-full border-t p-3 hover:text-purple-400;
  }
  .verify-btn:disabled {
    @apply text-gray-400;
  }
  .sidebar-verify-btn {
    @apply mt-10 w-full rounded-md bg-purple-connectPurple py-2 text-white hover:bg-purple-200 hover:text-black;
  }
  .sidebar-verify-btn:disabled {
    @apply bg-purple-200 text-black;
  }
}

.font-libre-franklin {
  font-family: "Libre Franklin";
}

.font-miriam-libre {
  font-family: "Miriam Libre";
}

.step-icon-inner {
  width: 0.625rem;
  height: 0.625rem;

  animation-duration: 1s;
  animation-name: step-icon-loading;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}

:root {
  --onboard-shadow-3: none;
  --account-center-position-top: -14px;
  --account-center-position-right: 4.1rem;
  --account-center-border-radius: 16px;
  --onboard-action-required-btn-text-color: #fff;
}

@media (max-width: 1020px /* md */) {
  :root {
    --account-center-position-right: 24px;
  }
}

@media (max-width: 480px /* base */) {
  :root {
    --account-center-position-right: 0px;
    --onboard-modal-top: 0;
  }
}
